#page-cambiopass{
    background: url('../img/fondo2.png') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
    color:white;    
}
#page-cambiopass .content_form{
    margin-left: 20%;
    width: 200px;
    text-transform: uppercase;
}
#div_cambio{
    padding-bottom:5%;
}
#neru_title_cambio h1{
    text-align: center;
    padding-top: 10%;
    color:#903323;
}
.errorConexion{
    display:none;
}
.div_cambio{
    margin-top:-30px;
    
}
.div_registra h2{
    text-align: center;
    padding-top: 15%;
    text-transform: uppercase;
}
#frmCambio label{
    margin-top:5%;
    text-transform: uppercase;
    font-size: 12px;
}
#frmCambio input{
    color:black;
}
#frmCambio #contras{
    font-size: 9px;
    margin-top: 0%;
    text-align: right;
}
#frmCambio #contras a{
    color:white;
}
#frmCambio .form_input{
    width: 180px;
    margin-left: 20%;
}
#frmCambio .content_form_submit{
    width:180px;
    margin-left: 20%;
    margin-top:10%;
}
.content_form_submit label{
    font-size: 10px !important;
    text-align: center;
    margin-top: 0% !important;
}
.content_form_submit #btnRecuperar{
    background: #903323;
    border-color:#903323;
    color:white;
}
.content_form_submit label a{
    color:white;
}