#page-home{
    background: white;
    color:white;    
}
.article{
    text-align: center;
    color:#ef4328;
    font-size: 16px;
    margin-top: 10%;
}
.barra{
    background: #ef4328;
    color:white;
}
.div_siguenos{
    margin-left: 0%;
    text-align: center;
    margin-top: 15%;
    margin-bottom: -30%;
}
.barra h1{
    color:white;
    text-transform: uppercase;
    margin-left: 100px !important;
    font-size: 20px !important;
    width: 90%;
}
.barra a{
    background-color: #6f0704 !important;
    border:#6f0704;
}
#left-panel{
    background: #ef4328;
}
.ui-listview li a{
    background-color: #ef4328 !important;
    border-color:#ef4328 !important;
    color:white !important;
    text-transform: uppercase;
}
.ui-listview li a i{
    margin-right: 15px;
}
.ui-first-child{
    margin-bottom: 20px !important;
}
.ui-input-search{
    margin-top: 20% !important;
    margin-bottom: 20% !important;
}
.ui-bar{
    margin-top:2%;
    background-color: transparent !important;
    border-color: transparent !important;
    color: white !important;
    font-weight: bold !important;
}
.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-b, .ui-grid-b .ui-block-c{
    height: 80px;
    text-transform: uppercase;
    color:white;
    font-size: 12px;
    text-align: center;
}
.text b{
    color:#f04329;
}
.blockA{
    background: url('../img/Cursos.jpg') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100%;
   text-align: center;
}
.ui-block-b{
    background: url('../img/informacion.jpg') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
   text-align: center;
}
.ui-block-c{
    background: url('../img/rv.png') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
   text-align: center;
}
.text{
    padding: 10px !important;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: inline-block !important;
    color:white !important;
}
.slider-img{
    color:black;
    height: 20em;
    text-align: center;
}
/* SLIDERS */
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
      display: none !important;
  }
  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
    display: none !important;
  }
  
  .redes{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 25%;
    margin-left: 20%;
  }
  .redes li{
    float: left;
  }
  .redes li img{
    width: 70px;
  }
  .icono_menu{
      left:5px !important;
      top: 10px !important;
  }
  .flex-next{
      background: #ef4328;
      color:white !important;
      left: 80% !important;
      border-radius:50%;
  }
  .flex-prev{
    background: #ef4328;
    color:white !important;
    border-radius:50%;
    margin-left: 4% !important;
}
  .link_menu_a{
      padding-left: 2em !important;
  }
  .ui-icon-custom:after {
    background-image: url("../img/iconos/add-contact.png");
    background-position: 3px 3px;
    background-size: 70%;
    }
