#page-pem, #page-pem_info,#page-pem_actividad, #page-pem_actividad_detalle, #page-pem_descripcion_concentracion, #page-variables, #page-evaluacion{
    background: url('../img/fondo.png') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100%;
    color:white;
}
.imagen_icono_pem{
    width: 50px !important;
    margin-left: 0% !important;
}
.div_title_pem{
    width: 250px;
    margin-left: 10%;
    text-align: center;
    text-transform: uppercase;
    color:white;
    margin-bottom: 1rem;
}
.div_subtitle_pem{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 1rem;
}
#subtitle_pem h3{
    text-align: center !important;
    text-transform: uppercase !important;
    color:#ef4328 !important;
}
.title_evaluacion{
    text-align: center;
}
.title_evaluacion h2{
    text-transform: uppercase !important;
    font-size: 20px;
}
.boton_info{
    text-transform: uppercase;
    font-size: 14px !important;
    background: transparent !important;
    color:white !important;
    border-color: transparent !important;
}
#page-pem .ui-block-b{
    background: transparent;
}
#page-pem #barra_bottom{
    background-color:#ef4328 !important;
}
/*========PEM INFO========*/
.div_title_pem_info{
    width: 200px;
    margin-left: 20%;
    text-align: center;
    text-transform: uppercase;
    color:white;
    margin-bottom: 1rem;
}
#title_noticias span, #title_info_pem{
    color:#ef4328;
}
.div_title_pem_informa{
    border:2px solid #ef4328;
    border-radius: 10px;
    width: 240px;
    margin-left: 15%;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}
.texto_act{
    margin-left: 10%;
}
.div_cuerpo_info{
    margin-bottom: 34%;
}
.circle {
    height: 50px !important;
    width: 50px;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50%;
    /*margin-top: 30px;*/
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
  }
#page-pem_info #barra_bottom{
    background-color:#ef4328 !important;
}
/*========PEM EVALUA========*/
#imgEstado{
    position: absolute;
    top:45%;
    left: 35%;
}
/*========Actividad=======*/
#numero_actividad{
    color: #ef4328;
}
.div_cuerpo_info_actividad{
    margin-bottom: 1%;
}
.fa-check{
    color: red;
    padding-top: 10px;
    padding-left: 10px;
}
.texto_cuadro{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
.btnDesAct, .boton_regresa{
    margin-left: 50%;
    margin-top: 60%;
}
#des_actividad_,#actividad_regresar{
    background: #ef4328;
    color: white;
    text-transform: uppercase;
    width: 120px;
}
.textAreaInfo, .textAreaInfoAdicional{
    margin-left: 10%;
    background: #cccdcf;
    color: black;
    height: 60vh;
    margin-right: 10%;
    border-radius: 5px;
    overflow: scroll;
}
#page-pem_actividad #barra_bottom{
    background-color:#ef4328 !important;
}
/*=======ActividadDetalle=======*/
#page-pem_actividad_detalle #barra_bottom{
    background-color:#ef4328 !important;
}
/*ActividadConcentracion*/
#page-pem_descripcion_concentracion #barra_bottom{
    background-color:#ef4328 !important;
}
.boton_regresa_derecha{
    margin-top: 5% !important;
    font-size: 12px !important;
    width: 90px !important;
    margin-left: 10%;
}
#btn_regresar_pem{
    background: #ef4328;
    color: white;
}
/*=======VariablesPsicologicas=======*/
#page-variables #barra_bottom{
    background-color:#ef4328 !important;
}
/*=======PageEvaluacion=======*/
.div_evaluacion_formulario{
    margin-left: 15%;
    margin-right: 15%;
    height: 62vh;
}

#page-evaluacion #barra_bottom{
    background-color:#ef4328 !important;
}