#page-registro{
    background: url('../img/fondo2.png') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
    color:white;    
}
input{
    color: black !important;
}
#div_registra{
    padding-bottom:5%;
}
.content{
    width: 200px;
    margin-left: 20%;
}
#neru_title_reg h1{
    text-align: center;
    padding-top: 10%;
    color:#903323;
}
.errorConexion{
    display:none;
}
.div_registra{
    margin-top:-30px;
    
}
.div_registra h2{
    text-align: center;
    padding-top: 15%;
}
#frmRegistro label{
    margin-top:5%;
    font-size: 12px;
}
#frmRegistro input{
    color:black;
}
#frmRegistro #contras{
    font-size: 9px;
    margin-top: 0%;
    text-align: right;
}
#frmRegistro #contras a{
    color:white;
}
#frmRegistro .form_input{
    width: 180px;
    margin-left: 20%;
}
#frmRegistro .content_form_submit{
    width:180px;
    margin-left: 20%;
    margin-top:10%;
}
.content_form_submit label{
    font-size: 10px !important;
    text-align: center;
    margin-top: 0% !important;
}
.content_form_submit #btnCrear{
    background: #903323;
    border-color:#903323;
    color:white;
}
.content_form_submit label a{
    color:white;
}