.concentracion_div{
    background: url('../img/variables/concentracion.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 91vh;
    width: 100%;
    background-position-y: 30px;
}
.autoconfianza_div{
    background: url('../img/variables/autoconfianza.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 91vh;
    width: 100%;
    background-position-y: 30px;
}
.estres_div{
    background: url('../img/variables/estres.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 91vh;
    width: 100%;
    background-position-y: 30px;
}
.activacion_div{
    background: url('../img/variables/activacion.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 91vh;
    width: 100%;
    background-position-y: 30px;
}
.motivacion_div{
    background: url('../img/variables/motivacion.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 91vh;
    width: 100%;
    background-position-y: 30px;
}
.control_div{
    background: url('../img/variables/emocional.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 91vh;
    width: 100%;
    background-position-y: 30px;
}
.objetivos_div{
    background: url('../img/variables/objetivos.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 91vh;
    width: 100%;
    background-position-y: 30px;
}
.condicion_div{
    background: url('../img/variables/condicion.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 91vh;
    width: 100%;
    background-position-y: 30px;
}
.habilidad_div{
    background: url('../img/variables/habilidad.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 91vh;
    width: 100%;
    background-position-y: 30px;
}
.tecnicas_div{
    background: url('../img/variables/capacidad.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 91vh;
    width: 100%;
    background-position-y: 30px;
}
.talento_div{
    background: url('../img/variables/talento.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 91vh;
    width: 100%;
    background-position-y: 30px;
}
#lista_tecnica{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
/**/
#resU{
    width: 104 !important;
    margin-top:-155px !important;
    margin-left: 80px !important;
}