#page-videos{
    background: #2c2e42;
}
.div_videos_slider{
    height: 21rem;
}#page-videos .ui-bar {
    background-color:#ef4328 !important;
}
.div_videos{
    margin-top:0% !important;
}

.etiqueta{
    margin-left: 60%;
    border-radius: 10px;
    width: 120px;
    background:#ef4328 !important;
    color:white !important;
    text-transform: uppercase !important;
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
}
.imagen_icono{
    margin-left: 40% !important;
}
.div_title_videos{
    text-align: center;
    text-transform: uppercase;
    color:white;
}
.etiqueta_cursos{
    margin-left: 5%;
    border-radius: 10px;
    width: 120px;
    background:#ef4328 !important;
    color:white !important;
    text-transform: uppercase !important;
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
}