#page-login{
  background: url('../img/fondo2.png') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  color:white;    
}
#page-login .content_form{
    margin-left: 20%;
    width: 200px;
}
.letra_icono{
    width: 80px;
    margin-top: 20px;
    margin-left: 38%;
}
.letra_icono_menu{
    width: 60px;
    margin-top: 0px;
    margin-left: 75%;
}
#div_neru{
    background: red;
    padding-bottom:1%;
    margin-top: -10%;
}
#neru_title h1{
    text-align: center;
    padding-top: 15%;
}
.errorConexion{
    display:none;
}
.div_inicia h2{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 1rem;
}
#frmLogin label{
    margin-top:15%;
    text-transform: uppercase;
}
#frmLogin input{
    color:black;
}
#frmLogin #contras{
    font-size: 9px;
    margin-top: 0%;
    text-align: right;
}
#frmLogin #contras a{
    color:white;
}
#frmLogin .form_input{
    width: 180px;
    margin-left: 20%;
}
#frmLogin .content_form_submit{
    width:180px;
    margin-left: 20%;
    margin-top:10%;
}
.content_form_submit label{
    font-size: 10px !important;
    text-align: center;
    margin-top: 0% !important;
}
.content_form_submit label a{
    color:white;
}
.content_form_submit #btnEnviarLogin{
    background: #903323;
    border-color:#903323;
    color:white;
}
