#page-noticias{
    background: #2c2e42;
    color:white;
}
.div_noticias{
    margin-top:2% !important;
}
.imagen_icono{
    width: 80px !important;
}
.div_noticia_slider{
    height: 14em;
}
.div_title_noticias, .div_noticia_info{
    margin-bottom: 5%;
}
.div_title_noticias h2{
    color:white;
    font-size: 28px;
    letter-spacing: 2px;
} 
.div_noticia_info{
    margin-left: 10%;
    margin-right: 10%;
}
#page-noticias .ui-bar {
    background-color:#ef4328 !important;
}