#page-grupo, #page-grupo_info{
  background: url('../img/fondo2.png') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  color:white; 
}
#page-pago_fondo{
  background: url('../img/fondo_pagos.png') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  color:white;
  top:10%;
}
#page-grupo label, #page-grupo input{
    color:white;
}
#page-grupo .wizard > .content{
    background: transparent !important;
}
#title_pagos{
    text-transform: uppercase;
    width: 80px;
    color:white;
}
.article .div_pagos{
    text-transform: uppercase;
    color:white;

}
.imagen_icono{
    width: 100px;
}
.imagen_iconoA{
    width: 35px !important;
}
.div_title_planes{
    text-align: center;
}
#title_planes{
    width: 180px;
    margin-left:20%;
    color:white;
}
.div_title_des{
    text-transform: uppercase;
    text-align: center;
    color:#ef4328;
}
.div_cuerpo{
    background: #2c2c41;
    border-color:#2c2c41;
    border-radius: 10px;
    color:white;
    width: 60%;
    margin-left: 25%;
}
.div_footer_barra{
    background: #ef4328;
}
.descripcion_pago{
    margin-top:-160%;
    margin-bottom: 5%;
    position: absolute;

}
.div_cuerpo p{
    padding:10px;
}
.div_footer_barra ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ef4328;
  }
  
 .div_footer_barra li {
    float: left;
  }
  
 .div_footer_barra li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  #page-pago .ui-bar {
      background-color:#ef4328 !important;
  }
  /* PAGOS DETALLE*/
  .div_title_detalle{
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    margin-left: 30%;
    color:#ef4328;
    margin-top:2%;
    margin-bottom: 2%;
    margin-top:2%;
  }
  .div_cuerpo_detalle{
      margin-left:20%;
      margin-bottom: 5%;
  }
  .div_lista{
      margin-left: 25%;
      margin-bottom: 3%;
  }
  .div_lista ul{
      list-style-type: none;
  }
  .div_lista ul li i{
      color:#ef4328;
  }
  .div_precio{
      margin-left: 30%;
  }
  .blue-ar-l-rn-none{
      color:white !important;
      text-align: center;
      text-decoration: none;
  }
  #despago{
      color: white;
  }
  #btnPagar{
      background: #ef4328;
      color:white !important;
      text-align: center;
      text-transform: uppercase;
      width: 20vh;
      border-radius: 5px;
      margin-left: 15vh;
      margin-bottom: 5vh;
      height: 5vh;
  }
  .div_boton{
      margin-left: 32%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 10%;
      color:white;
      background: #ef4328;
      width: 120px;
      border-radius: 10px;
  }
  .btn_pago{
      background: #ef4328 !important;
      border-color:#ef4328 !important;
      color:white !important;
  }
  #mercado{
      text-align: center;
  }

  #div_lista_jug{
    width: 80% !important;
    margin-left: 10%;
    height:300px;
    margin-top:20px;
  }
  #list_jugadores{
      text-align: center;
  }

  #list_jugadores li{
      width: 80%;
      margin-left: 10%;
      background: #ef4328;
      border-radius: 10px;
      margin-top: 20px;
  }

  .btnEstadis{
      background: #ef4328 !important;
      color: white !important;
      text-transform: uppercase;
      font-size: 10px !important;
  }

  #mercado6ms{
      background: #ef4328;
      width: 80%;
      margin-left: 10%;
      border-radius: 10px;
      padding: 1px;
      font-size: 10px;
      margin-bottom: 2%;
  }

  #mofe{
      text-align: center;
      background: blue;
      color: white;
      width: 45%;
      margin-left: 25%;
      margin-top:2%;
      font-size: 10px;
  }

    .img_info{
        width: 100%;
        height: 100%;
    }

    #btnInfoSteps, .btnInfoSteps{
        background: #ef4328;
        border-radius: 50%;
        margin-left: 35%;
        border-color: white;
        width: 32px;
        height: 32px;
    }
    .btnVideo{
        background: transparent;
        border-radius: 50%;
        color: white !important;
        height: 100%;
        border: 2px solid white;
        font-size: 20px;
        padding: 5px;
    }
    .btnSigno{
        background: #ef4328;
        border-radius: 50%;
        color: black !important;
        height: 100%;
        border: 2px solid #ef4328;
        font-size: 20px;
        padding: 5px;
    }
    #popupInfo {
        width: 120%;
        left: auto;
        right: 0;
    }

  #mercadomensual{
    color: black;
    border:2px solid black;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    padding: 3px;
    font-size: 11px;
    margin-bottom: 3%;
}

#notas{
    color: black;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-size: 10px;
}

.blue-ar-l-rn-none{
    margin-left: 40%;
    background-color: darkred;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 2px;
}