#page-perfil, #page-perfil_individual{
    background: url('../img/fondo.png') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100%;
    color:white;
}
#page-perfil .ui-block-c,#page-perfil_individual .ui-block-c, #page-grupo_info .ui-block-b, #page-pem_grafica .ui-block-b, #page-pem_grafica .ui-block-c, #page-pem_grafica_ind .ui-block-b, #page-pem_grafica_ind .ui-block-c{
    background: transparent !important;
    color:white !important;
}
.div_perfil .ui-grid-a{
    margin-left: 10%;
}
.div_imagen_perfil{
    padding-left: 10%;
}
.div_imagen_perfil img{
    border-radius: 50%;
}
.imagen_perfil {
    height:80px !important;
}
.descripcion_perfil{
    background: #2c2c41 !important;;
}
#page-perfil .ui-block-b, #page-perfil_individual .ui-block-b{
    background: transparent !important;
}
.res_eva .ui-bar-a{
    margin-bottom: 10%;
    border-radius: 10px;
}
.descripcion_perfil p{
    color:white;
}
.title_tiempo, .describe_final_tiempo{
    text-align: center;
    text-transform: uppercase;
}
#resultado_t{
    background: #7a818e;
    color:white;
    width: 80px;
}

.boton_compartir{
    background: #f04429 !important;
    border-color:#f04429;
    color:white !important;
    width:200px !important;
    text-transform: uppercase !important;
    margin-left: 20% !important;
    margin-top:5% !important;
}
.resultado_tiempo{
    width: 80px;
    margin-left: 20%;
}
.resultado_objetivos{
    background: #7a818e !important;
    border-radius: 10px;
    height: 150px;
    overflow-y:hidden;
}
.title_objetivo, .title_tiempo{
    text-transform: uppercase;
    color:#ef4328;
}
.resultado_objetivos ul{
    list-style-type: none;
}
.resultado_objetivos ul li i{
    color:red;
}
#btnModal{
    background: #ef4328 !important;
    color: white !important;
    border-color: transparent !important;
    margin-left: -20px;
    text-transform: uppercase;
}
#ul_obj{
    list-style-type: none;
    color:black !important;
    margin-left: -25px !important;
}
#popupBasic-popup{
    max-width: 100% !important;
    left:0px !important;
    top:70px !important;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    background: transparent !important;
    border-radius: .5em;
    padding: .5em;
}

.fileContainer [type=file] {
    cursor: pointer;
}

.btns{
    font-size: 9px !important;
}