#page-psicologia, .div_perfil_psicologo{
    background: #2c2e42;
}
#page-psicologia .ui-block-b {
    background: #2c2e42 !important;
    color:white !important;
}
#page-psicologia .ui-bar, .ui-body{
    overflow: unset !important;
}
#page-psicologia .ui-footer {
    background-color:#ef4328 !important;
}
.div_psicologia{
    width: 180px;
    margin-left: 25%;
}
.div_psicologia h2{
    color:white !important;
    text-transform: uppercase;
}
.div_psicologia span{
    color:red;
}
.div_title_psicologia{
    margin-left:30%;
    width: 60%;
    margin-top:1rem;
    margin-bottom:1rem;
}
#title_psicologia{
    text-transform: uppercase;
    color:white !important;
    font-size:16px;
}
.div_nombre h3{
    text-transform: uppercase;
    color:white !important;
}
.div_descripcion p{
    text-transform: uppercase;
    color:white !important;
    font-size: 12px;
}
.img_psico{
    border-radius: 10px;
    height: 120px;
    margin-top: -10px;
    margin-left: -20px !important;
}
.datos_psicologo{
    text-align: center;
}
.div_img_psico{
    margin-left: 1.5rem;
}
/*========PERFIL PSICÓLOGO========*/
#page-info_psicologo .ui-block-b{
    background: none;
}
.div_psicologo_perfil h2{
    color:black !important;
    text-transform: uppercase;
}
#title_psicologo{
    font-size:12px;
}
.div_perfil_psicologo{
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.title_agenda{
    text-transform: uppercase;
    color:#ef4328;
    text-align: center;
    margin-top:5%;
    font-weight: bold;
}
.div_hora label{
    font-weight: bold !important;
    text-transform: capitalize;
}
/*#page-info_psicologo .ui-grid-a .ui-block-a{
    padding-left: 10%;
}*/
.barra_imagen_p{
    border: 10px solid white !important;
    margin-top:-2px;
}
.ui-bar-a p{
    text-transform: capitalize;
    color: white;
    font-size: 14px;
}
.div_agenda .ui-grid-a{
    margin-bottom: -1rem !important;
}
.div_hora{
    margin-left: 5% !important;
    width: 30%;
}
.ui-input-text .ui-body-inherit .ui-corner-all .ui-shadow-inset{
    width: 100px;
    background: #ededed !important;
    border-color:#ededed !important;
}
.div_botones_psicologo .ui-block-c{
    background: #fff;
}
.btn_pagar,.btn_video_llamada,.btn_chat{
    width: 60px !important;
    margin-left: 10px !important;
    background: #2c2c41 !important;
}
.btn_pagar i,.btn_video_llamada i,.btn_chat i{
    color:white;
}