#page-realidad_v, #page-ayuda{
    background: #2c2e42;
    color:white;
}
#page-realidad_v, #page-ayuda{
    background: url('../img/fondo2.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    color:white; 
  }
.div_title_rv{
    width: 250px;
    margin-left: 10%;
    text-align: center;
    text-transform: uppercase;
    color:white;
    margin-bottom: 1rem;
}
#page-realidad_v .ui-bar, #page-ayuda .ui-bar {
    background-color:#ef4328 !important;
}
.btnVideosInfo{
    background: #f04429;
    color: white;
    text-transform: uppercase;
    width: 80%;
    border-radius: 5%;
}


  #page_info_rendimientoAD{
    background: url('../img/rendi_equipo.jpeg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    color:white; 
    top:10%;
  }

.imgRendi{
  width: 100%;
  height: 90%;
}

#page_info_grafica{
  padding-top: 10% !important;
}