#page-variable,#page-evaluacion {
  background: url('../img/fondo.png') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
    color:white;
}
.div_titulo_var{
    background: #2c2e42;
}
.texto_descripcion{
    background: rgba(44,46,66,1);
    background: -moz-linear-gradient(top, rgba(44,46,66,1) 0%, rgba(44,46,66,1) 50%, rgba(242,243,247,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,46,66,1)), color-stop(50%, rgba(44,46,66,1)), color-stop(100%, rgba(242,243,247,1)));
    background: -webkit-linear-gradient(top, rgba(44,46,66,1) 0%, rgba(44,46,66,1) 50%, rgba(242,243,247,1) 100%);
    background: -o-linear-gradient(top, rgba(44,46,66,1) 0%, rgba(44,46,66,1) 50%, rgba(242,243,247,1) 100%);
    background: -ms-linear-gradient(top, rgba(44,46,66,1) 0%, rgba(44,46,66,1) 50%, rgba(242,243,247,1) 100%);
    background: linear-gradient(to bottom, rgba(44,46,66,1) 0%, rgba(44,46,66,1) 50%, rgba(242,243,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2e42', endColorstr='#f2f3f7', GradientType=0 );
}
#descripcion_variable{
    margin-top: 3%;
    background: #ef4328;
    color: white;
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5%;
    padding-bottom: 5px;
    padding-top: 5px;
}
#ejem_label{
    color:#ef4328;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5%;
}
#ejemplo_text{
    width: 85%;
    margin-left: 8%;
    margin-right: 5%;
    color:black;
    padding-bottom: 5%;
}
#foter_boton{
    width: 27%;
    margin-left: 70%;
    margin-top: 55%;
    font-size: 12px !important;
    position: absolute;
}
#foter_page{
    margin-top: -3%;
    background: rgba(242,243,247,1);
    background: -moz-linear-gradient(top, rgba(242,243,247,1) 0%, rgba(44,46,66,1) 50%, rgba(44,46,66,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,243,247,1)), color-stop(50%, rgba(44,46,66,1)), color-stop(100%, rgba(44,46,66,1)));
    background: -webkit-linear-gradient(top, rgba(242,243,247,1) 0%, rgba(44,46,66,1) 50%, rgba(44,46,66,1) 100%);
    background: -o-linear-gradient(top, rgba(242,243,247,1) 0%, rgba(44,46,66,1) 50%, rgba(44,46,66,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,243,247,1) 0%, rgba(44,46,66,1) 50%, rgba(44,46,66,1) 100%);
    background: linear-gradient(to bottom, rgba(242,243,247,1) 0%, rgba(44,46,66,1) 50%, rgba(44,46,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f7', endColorstr='#2c2e42', GradientType=0 );
    background: url('../img/neru/foter_banner.jpg') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100%;
}
#foter_page_img{
    width: 50%;
    margin-left: 40%;
    padding-top: 10%;
}
#foter_boton button{
    background: #ef4328;
    color: white;
    font-weight: bold;
    margin-top: 55vh;
    font-size: 10px;
    border-radius: 10px;
}
#div_variable_banner{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.img_variable_banner{
    height: 50px;
    width: 100%;
    border-radius: 10px;
}
.img_logo_footer{
    height: 60px;
}
.div_variable_info{
    background: #ffffff;
}
#page-variable .ui-block-b{
    background: transparent;
}
#page-variable #barra_bottom{
    background-color:#ef4328 !important;
}
/*EVALUACION*/
#div_evaluacion{
    width: 80%;
    margin-left: 10%;
}
#titulo_variable_eva{
    text-align: center;
    text-transform: uppercase;
    color: #ef4328;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{
    border-color: transparent !important;
}
#pregunta_div{
    margin-bottom: 10%;
}
.tipo_text_evaluacion{
    text-transform: uppercase;
    color: #ef4328;
    margin-top: -50px;
}
/**FORMU**/
.card {
  position: relative;
  margin-bottom: 24px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.step-progress {
  padding: 16px;
  background-color: #FAFAFA;
  margin: 0 auto;
}

.step-progress .step-slider {
  width: 100%;
}

.step-progress .step-slider .step-slider-item {
  width: 25%;
  height: 1px;
  position: relative;
  float: left;
  background-color: #E0E0E0;
}

.step-progress .step-slider .step-slider-item:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -6px;
  right: 0;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  z-index: 2;
  transition: all 0.3s ease-out 0.5s;
  -webkit-transition: all 0.3s ease-out 0.5s;
}

.step-progress .step-slider .step-slider-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #B0BEC5;
  z-index: 1;
  transition: all 0.5s ease-out;
}

.step-progress .step-slider .step-slider-item.active:before {
  width: 100%;
  background-color: #FF8F00;
}

.step-progress .step-slider .step-slider-item.active:after {
  border-color: #FF8F00;
}

.step-content {
  padding: 16px 0;
}

.step-content .step-content-foot {
  text-align: right;
}

.step-content .step-content-foot button {
  border: 0;
  padding: 8px 16px;
  background-color: #CFD8DC;
  font-size: 14px;
  border-radius: 3px;
  outline: 0;
}

.step-content .step-content-foot button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.step-content .step-content-foot button.out {
  display: none;
}

.step-content .step-content-foot button.disable {
  background-color: #ECEFF1;
}

.step-content .step-content-foot button.active {
  background-color: #00ACC1;
  color: white;
}

.step-content .step-content-body {
  padding: 16px 0;
  text-align: center;
  font-size: 18px;
  color:black;
}

.step-content .step-content-body.out {
  display: none;
}

.card{
  height: 65vh !important;
}
/**/
